@using (Html.BeginForm())
{
    <select name="drpProducts" id="drpProducts">
        @{
            foreach (var product in ViewBag.Products)
            {
                <option value="@product.Id"
                        data-desc="@product.Address">
                    @product.Name
                </option>
            }
        }
    </select>

    <input type="text" id="txtProductDescription" name="txtProductDescription" />
    
}


<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#drpProducts").change(function () {

            var selectedItemDesc = $("#drpProducts option:selected").attr("data-desc");
            $("#txtProductDescription").val(selectedItemDesc);

        });

    });
</script>