@model SSMS.Models.Models.Category
<h2>Category Delete</h2>

@{
    ViewBag.Title = "Delete";
}
@if (ViewBag.SDeleted != null)
{

    <p>Delete Successfully!!</p>
}
else if (ViewBag.NSDelete != null)
{
    <p>Delete Failed!!</p>
}


