<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
   
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    

    @RenderSection("Styles",false);

</head>
<body>

    <div class="container body-content">

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Small Shop Management System</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class=""><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                           Category
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            
                            <li><a href="/categories/Add">Add</a></li>
                            <li><a href="/categories/Update">Update</a></li>
                            <li><a href="/categories/Delete">Delete</a></li>
                            <li><a href="/categories/show">Show</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Products
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">

                            <li><a href="/Products/Add">Add</a></li>
                            <li><a href="/Products/Update">Update</a></li>
                            <li><a href="/Products/Delete">Delete</a></li>
                            <li><a href="/Products/show">Show</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Customers
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">

                            <li><a href="/Customers/Add">Add</a></li>
                            <li><a href="/Customers/Update">Update</a></li>
                            <li><a href="/Customers/Delete">Delete</a></li>
                            <li><a href="/Customers/show">Show</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Suppliers
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">

                            <li><a href="/Suppliers/Add">Add</a></li>
                            <li><a href="/Suppliers/Update">Update</a></li>
                            <li><a href="/Suppliers/Delete">Delete</a></li>
                            <li><a href="/Suppliers/show">Show</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Purchase
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Add</a></li>
                            <li><a href="#">Update</a></li>
                            <li><a href="#">Delete</a></li>
                            <li><a href="#">Show</a></li>
                        </ul>
                    </li>
                   
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Sales
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Add</a></li>
                            <li><a href="#">Update</a></li>
                            <li><a href="#">Delete</a></li>
                            <li><a href="#">Show</a></li>
                        </ul>
                    </li>
                    <li class=""><a href="#">Stock</a></li>
                    
                </ul>
            </div>
        </nav>
    
        @RenderBody()

    </div>




    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    @RenderSection("Scripts",false);

</body>
</html>